.root, .app {
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  line-height: 1.2;
}

a, a:visited {
  color: red;
}

a:hover {
  color: rgba(175, 7, 7, 0.548);
}

a:focus, a:active {
  color: rgb(255, 80, 80);
}

span.close-search-link-text {
  font-size: 19px !important;
  margin-top: -4px;
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;  
  background-image: url('../icons/add.svg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}

.hero {
  display: flex;
  padding-top: 30px;
}

#add-book {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;  
  background-image: url('../icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.field.search-field {
  width: 100%;  
}

.book-search-input {
  margin: 24px;
  margin-top: 0px;
  width: 80%;
  height: 28px;
  z-index: 5;
  border: thin solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 0 6px rgba(0,0,0,0.03);
  }
.label {
  padding: 0px;
  margin-top: -12px;
}
.close-search {
  display: inline-flex;
  width: 38px;
  height: 12px;  
  background-image: url('../icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  padding-top: 4px;
}

.back-button {
  display: block;
  color: red;

}

article.message {
  margin: auto;
  width: 240px;
}

.message-body {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
}

.search-books-results {
  padding: 80px 10px 20px;
}

.search-results-title {
  margin-left: 8px;
}

.card {
  border-top: 6px solid #FFC941 ;
  height: 220px;
  width: 290px;
  box-shadow: -2px 8px 16px 2px rgba(0,0,0,0.4), 0 3px 6px 12px rgba(0,0,0,0.23);
  display: flex;
  margin-top: 20px;
}

div.card-image img {
  margin-top: 8px;
  margin-left: 10px;
  width: 128px;
  height: 192px;
  box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.4);
  }

.book-author {
color: rgb(88, 88, 88);
font-size: 18px;
font-weight: 800;
}

.author-label {
  font-size: 11px;
  color: #999;
}

figure.title {
  width: 160px;
  min-width: 5%;  
  margin-left: -20px;
  margin-top: -6px;
  height: fit-content;
  padding-bottom: 6px;
  padding-left: 12px;
  margin-right: 8px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
  
}

.bookshelf {
  display: flex;
  min-width: 90%;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: content-box;
  background:white !important;
  min-height: 260px;
}

.search-field {
  margin-top: -120px;
}


.book-shelf-changer select {
width: 100%;
height: 100%;
opacity: 0;
cursor: pointer;
}


.book-shelf-changer {
position: absolute;
width: 40px;
height: 40px;
border-radius: 50%;
bottom: -12px; right: 8px;
background-image: url('../icons/arrow-drop-down.svg');
background-repeat: no-repeat;
background-position: center;
background-size: 20px;
box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
color: white;
}



 