.root, .app {
  background: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body {
  line-height: 1.2;
}


.shelf-title {
  font-size: 1.25rem;
  font-weight: bold;  
}

.open-search {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;  
  background-image: url('./icons/add.svg');
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
}


#add-book {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;  
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
  outline: 0;
}

.field.search-field {
  width: 100%;  
}

.book-search-input {
  width: 50%;
  height: 4vh;
  z-index: 5;
  border: thin solid black;
  box-shadow: 0 10px 20px rgba(0,0,0,0.09), 0 0 6px rgba(0,0,0,0.03);
  }

.close-search {
  display: inline-flex;
  width: 40px;
  height: 18px;  
  background-image: url('./icons/arrow-back.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
}

.back-button {
  display: block;
  color: red;

}


.search-books-results {
  padding: 80px 10px 20px;
}


.card {
  border-bottom: 20px solid #999 ;
  width: 390px;
  height: 280px;
  box-shadow: 0px 12px 21px 0px rgba(0,0,0,0.2) !important;
}

.book-author {
color: rgb(88, 88, 88);
font-size: 2vh;
font-weight: 800;
}

.author-label {
  font-size: 11px;
  color: #999;
}


.bookshelf {
  padding: 40px;
  margin: 40px;
  display: flex;
  min-width: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  background: transparent !important;
  
}


.book-shelf-changer select {
width: 100%;
height: 100%;
opacity: 0;
cursor: pointer;
}

.search-field {
  margin-top: -120px;
}

.book-shelf-changer {
position: absolute;
width: 40px;
height: 40px;
margin-top: -60px;
border-radius: 50%;
margin-left: 120px;
background-image: url('./icons/arrow-drop-down.svg');
background-repeat: no-repeat;
background-position: center;
background-size: 20px;
box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16), 0 3px 6px 0 rgba(0,0,0,0.23);
}

.book-card {
  box-shadow: -2px 8px 16px 2px rgba(0,0,0,0.4), 0 3px 6px 12px rgba(0,0,0,0.23);
  display: flex;
  justify-content: center;
}



div.card-image img {
  margin-top: 8px;
  width: 160px;
  height: 240px;
  box-shadow: 0px 4px 12px 2px rgba(0,0,0,0.4);
  }

  
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');

